@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  background-image:url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

header.stickyHeader{
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  display: block;
  min-width: 500px; 
  height: 8vh;
  font-size: 7vh;
  font-weight: bolder;
  color: rgb(218, 19, 174);
  font-family: Comfortaa;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1vh .5vw;
  padding: 1% 2% 1% 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(5, 63, 255, 0.336) 0px 10px 20px 20px, rgba(255, 3, 200, 0.15) 0px 12px 6px 10px;
}

main {
  font-family: Comfortaa;
  font-size: 18px;
  color: rgb(2, 2, 2);
  font-weight: bolder;
  display: block;
  padding: 2% 2% 2% 2%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 500px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(255, 255, 255, .4);
  box-shadow: rgba(5, 63, 255, 0.336) 0px 10px 20px 20px, rgba(255, 3, 200, 0.15) 0px 12px 6px 10px;
}

p {
  padding: 1% 1% 1% 1%;
}

p.edSummary {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: red;
}

p.movieHeading {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: red;
}

ul {
  margin: auto;
  list-style-type: disc;
  padding: 1em;
}

ul.li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* This adds a bottom margin to li items as lon as it is not the last li from "https://stackoverflow.com/questions/11903773/add-space-between-li-elements" */
li:not(:last-child) { 
  margin-bottom: 5px;  
}

ol {
  list-style-type: decimal;
  padding: 1em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  color: white;
  font-family: Comfortaa;
  margin-top: 25px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}