@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  background-image:url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  display: block;
  min-width: 500px; 
  font-size: 7vh;
  font-weight: bolder;
  color: rgb(218, 19, 174);
  font-family: Comfortaa;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 2% 1% 2%;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border: 5px solid black;
  box-shadow: rgba(5, 63, 255, 0.336) 0px 10px 20px 20px, rgba(255, 3, 200, 0.15) 0px 12px 6px 10px;
}

main {
  font-family: Comfortaa;
  font-size: 18px;
  color: rgb(2, 2, 2);
  font-weight: bolder;
  display: block;
  padding: 2% 2% 2% 2%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(255, 255, 255, .4);
  box-shadow: rgba(5, 63, 255, 0.336) 0px 10px 20px 20px, rgba(255, 3, 200, 0.15) 0px 12px 6px 10px;
}

p {
  padding: 1% 1% 1% 1%;
}

.footer {
  color: white;
  font-family: Comfortaa;
  margin-top: 25px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}